.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  
  &__link {
    text-decoration: none;
    color: rgb(255, 85, 0);
    font-size: 26px;
    transition: 0.3s;

    &:hover {
      color: rgb(78, 129, 0);
    }
  }
}